<%= simple_form_for @product, html: { multipart: true } do |f| %>
  <%= f.error_notification %>
  <div class="container text-center">
  <div class="form-row ">
    <div class="form-group col-md-12">
      <%= f.input :category_id, required: false, input_html: { class: "input"}, wrapper: false, label_html:
        { class:"label" }, placeholder: "Category ID"%>
    </div>

  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.input :name , required: false, input_html: { class: "input"}, wrapper: false, label_html:
        { class:"label" } , placeholder: "Name" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.input :price, required: false, input_html: { class:"input", maxlength: 8  }, wrapper: false, label_html:
        { class:"label" } , placeholder: "Price" %>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.input :unit, required: false , input_html: { class:"input", maxlength: 2 }, wrapper: false, label_html:
        { class:"label" } , placeholder: "Unit" %>
    </div>


  </div>

  <div class="form-group">
    <div class="form-check">
      <%= f.input :image, as: :file, input_html: { class:"btn btn-primary me-2" }, label: false, wrapper: false %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-check">
      <%= f.button :submit, class: 'btn btn-primary me-2' %>
      <%= link_to 'Cancel', products_path, class:'button is-light' %>
    </div>
  </div>
<% end %>
</div>
