<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">
    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <img src="<%= @product.image %>" width="400" height="300" class="img-fluid" alt="">

      </div>
      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">
          <p class= "lead">
              <span class="mr-1">
                <%= @product.category.name %>
              </span>
          </p>

          <p class= "lead">
              <span class="mr-1">
                <%= number_to_currency(@product.price) %>
              </span>
          </p>

          <p class="lead font-weight-bold"><%= @product.name %></p>

          <p>Each seasonal collection presents footwear, apparel and accessories designs inspired by genuine
            artisanship from around the world; a reinterpretation of skills inherited and taught by hand and the heart,
            passed from one generation to another.</p>
          <%= button_to 'Add to cart', line_items_path(product_id: @product),method: :post,
                        class: 'btn btn-primary btn-md my-0 p' %>

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->
    </div>
    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="p-3">
            <h6>Comments :</h6>
            <%= render @product.comments %>
          </div>
            <%= render 'comments/form' %>
        </div>
      </div>
    </div>
  </div>

</main>