<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<header class="container">

  <div class="container ">
    <div class="row mb-3">
        <% @categories.each do |category| %>
            <div class="col-md-3">
             <span><%= link_to category.name, products_by_category_path(category) %></span>
            </div>
        <% end %>
    </div>
  </div>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
          <a href="https://tiki.vn/khuyen-mai/flash-sale-dien-gia-dung?tmsx=421b1379-f681-4afb-af3c-26aac889ed84">
          <%= image_tag("t.webp", style: "width:100%;height:auto;") %>
          </a>
        </div>

      <div class="item">
        <a href="https://tiki.vn/tikingon?tmsx=543574a6-71f0-4aa8-8e42-1ce50987fe92">
        <%= image_tag("tiki1.webp", style: "width:100%;height:auto;") %>
        </a>
      </div>

      <div class="item">
        <a href="https://tiki.vn/khuyen-mai/do-xin-cho-be-deal-hoi-cho-me?tmsx=ee6dd68b-e6c6-479e-a60a-e1e6dc0766c9">
        <%= image_tag("tiki2.webp", style: "width:100%;height:auto;") %>
        </a>
      </div>

      <div class="item">
        <a href="https://tiki.vn/khuyen-mai/yeu-bep-nghien-nha-giam-den-50-100-chinh-hang?waypoint_id=brandpns&tmsx=2f7689af-a29c-45a5-a4f5-a4eb95ae45a3">
        <%= image_tag("tiki3.webp", style: "width:100%;height:auto;") %>
        </a>
      </div>

      <div class="item">
        <%= image_tag("tiki4.webp", style: "width:100%;height:auto;") %>
      </div>

      <div class="item">
        <%= image_tag("tiki6.webp", style: "width:100%;height:auto;") %>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>