<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <%= link_to image_tag("eyes.jpg", size: "200x120"), root_path %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
      </ul>
      <form class="d-flex">
        <ul class="nav navbar-nav navbar-right collapse navbar-collapse"
            id="bs-example-navbar-collapse-1">

          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <% if current_user.admin == true %>
                <div class="dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Create Stuff
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="<%= new_product_path %>">Create New Product</a>
                    <a class="dropdown-item" href="<%= new_category_path %>">Create New Category</a>
                  </div>
                </div>
              <% end %>
            </li>

            <li class="nav-item dropdown">
              <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.name %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="<%= edit_user_registration_path %>">Profile</a>
                  <a class="dropdown-item" ><%= link_to "Logout", destroy_user_session_path, method: :delete %></a>
                </div>
              </div>
            </li>
          <% else %>
            <p class="control">
              <%= link_to "Sign In", new_user_session_path, class:"navbar-item button" %>
            </p>
            <p class="control">
              <%= link_to "Sign up", new_user_registration_path, class:"navbar-item button"%>
            </p>
          <% end %>
        </ul>

        <%= link_to cart_path(@cart), class:"btn btn-outline-dark" do %>
          <i class="bi-cart-fill me-1"></i>
          <span class="icon is-small">
              </span>
          <span>Cart
            <%= cart_count_over_one %>
            </span>
        <% end %>
      </form>

    </div>
  </div>
</nav>