<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <%= render 'layouts/head_default' %>
  </head>

  <body>

    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

  <div class="">
    <%= render 'layouts/navigation' %>
  </div>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
